// Mixins in here
.button-style(@padding, @width, @background, @color, @size, @border, @radius) {
  padding: @padding;
  width: @width;
  background: @background;
  color: @color;
  font-size: @size;
  border: @border;
  border-radius: @radius;

  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
  position: relative;
}

.flex() {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
