// Navigation Styles here
header {
  .nav-bar {
    height: 90px;
    border-bottom: 2px dashed gray;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .navigation {
      a {
        text-decoration: none;
        color: black;
        font-size: 1.6rem;
        padding: 15px;
      }
    }
  }

  .intro {
    border-bottom: 2px dashed gray;

    img {
      margin-bottom: 2rem;
    }

    p {
      margin-bottom: 1rem;
    }
  }
}
