// Navigation Styles here

.nav-bar {
  max-width: 1000px;
  margin: 0 auto;
  height: 90px;
  border-bottom: 2px dashed gray;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .nav-text {
    margin-right: 33%;
  }

  .navigation {
    a {
      text-decoration: none;
      color: black;
      font-size: 1.6rem;
      padding: 15px;
    }
  }
}

// @media (max-width: 880px) {
//   .sticky-nav {
//     height: 145px;
//     flex-direction: column-reverse;
//     align-content: center;
//     justify-content: space-around;
//   }
// }

// @media (max-width: 500px) {
//   .sticky-nav {
//     position: static;
//     height: 443px;
//     background: white;
//     width: 100%;
//     display: flex;
//     flex-direction: column-reverse;
//   }

//   .sticky-nav a {
//     padding: 0;
//   }

//   .navigation {
//     display: flex;
//     flex-direction: column;
//     width: 100%;
//   }
//   .navigation a {
//     font-size: 20px;
//     color: gray;
//     text-align: center;
//     width: 100%;
//     padding: 20px 0;
//     border-top: 1px solid black;
//   }

//   .navigation a:last-child {
//     border-bottom: 1px solid black;
//   }

//   .navigation a:hover {
//     color: white;
//     background: gray;
//   }
// }
